html {
    height: 100%
}

body {
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    position: relative;
    width: 150px;
    height: 75px;
    outline: none;
    border: none;
    appearance: none;
    background: none;
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.329);
    overflow: hidden;

    transition: background-color 0.3s;
}

#button #background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    background-image: linear-gradient(225deg, #e9001f 0%, #d0b380 100%);
}

#button::before {
    content: "";
    position: absolute;
    width: 160%;
    height: 160%;
    right: -160%;
    top: -160%;
    z-index: -1;

    background-image: linear-gradient(45deg, #3cfb93 0%, #f7f144 100%);
    border-radius: 0 0 0 10%;

    transition: top 0.8s, right 0.6s, border-radius 0.6s;
}

#button:hover::before {
    top: 0%;
    right: 0%;

    border-radius: 0 0 0 100%
}

#button-span {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgb(0, 0, 0)
}