html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

* {
    margin: 0%;
}

button {
    position: relative;
    width: 200px;
    height: 100px;
    appearance: none;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;

    overflow: hidden;


    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bk1 {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: -50%;
    top: 0%;
    background-color: lightseagreen;
    transition: all 0.5s;
    z-index: 1;
}

.bk2 {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    right: -50%;
    top: 0%;

    background-color: lightseagreen;

    transition: all 0.5s;
    z-index: 1;
}

button:hover>.bk1 {
    left: 0%;
}

button:hover>.bk2 {
    right: 0%;
}


h1 {
    font-family: Consolas;
    text-align: center;
    color: lightseagreen;
    z-index: 3;
    position: relative;
    transition: all 1s;
}

button:hover>h1 {
    color: whitesmoke;
}